<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
    <link rel='shortcut icon' href="{{ url_for('static', filename='favicon/favicon.ico') }}"">
    <link rel="manifest" href="{{ url_for('static', filename='favicon/site.webmanifest') }}">

    <title>webTODO.txt{% if title %}- {{ title }}{% endif %}</title>
</head>

<body>
    <header>
        {% include "header.html" %}
        {% if current_user.is_authenticated %}
        {% block filters %}{% endblock %}
        {% endif %}
    </header>
    {% include "infos_block.html" %}

    <main>
    {% block content %}
    {% endblock %}
    </main>
    <footer>
        {% include "footer.html" %}
    </footer>
</body>

</html>